.about {
    padding: 8rem 0;

    @media #{$xs} {
        padding: 4rem 0;
    }

    &__img {
        img {
            border-radius: 0.8rem;
        }
    }

    &__title {
        text-align: center;
        margin: 0 0 6rem;

        span {
            color: $primary;
            font-size: 3.6rem;
            font-weight: 500;
            margin: 0 0 1rem;

            @media #{$xs} {
                font-size: 2.8rem;
            }


        }

        h1 {
            color: #000;
            font-size: 2rem;
            font-weight: 500;
            margin: 0 0 1rem;

            @media #{$xs} {
                font-size: 2.8rem;
            }


        }

        p {
            color: $para;
            font-size: 1.8rem;
            font-weight: 400;
            margin: 0;

            @media #{$xs} {
                font-size: 1.4rem;
            }

        }
    }

    &__content {
        padding: 0 0 0 3rem;

        @media #{$xs} {
            padding: 2rem 0 0;
        }

        h2 {
            color: $primary;
            font-size: 3.6rem;
            font-weight: 500;
            margin: 0 0 1rem;

            @media #{$xs} {
                font-size: 2.2rem;
            }
        }

        h3 {
            font-size: 2.8rem;
            font-weight: 500;
            margin: 0 0 2rem;
            color: #000;


            @media #{$xs} {
                font-size: 2.4rem;
                margin: 0 0 1rem;
            }
        }

        h4 {
            font-size: 3rem;
            font-weight: 500;
            margin: 0 0 2rem;
            color: $primary;


            @media #{$xs} {
                font-size: 2.4rem;
                margin: 0 0 1rem;
            }
        }

        p {
            color: $para;
            font-size: 1.8rem;
            font-weight: 400;
            margin: 0 0 2rem;

            @media #{$xs} {
                font-size: 1.4rem;
            }
        }

        a {
            background-color: $primary;
            color: #fff;
            font-size: 1.8rem;
            font-weight: 500;
            text-decoration: none;
            padding: 1.4rem 3.8rem;
            border-radius: 0.6rem;
            display: inline-block;

            @media #{$xs} {
                font-size: 1.6rem;
                padding: 1rem;
            }
        }
    }

    &__award {
        padding: 4rem 0;
    }

    &__choose {
        padding: 4rem 0;

        @media #{$xs} {
            padding: 0;
        }

        h2 {
            text-align: center;
            color: $primary;

            font-size: 3.6rem;
            font-weight: 500;
            margin: 0 0 4rem;

            @media #{$xs} {
                font-size: 2.8rem;
            }
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;

        @media #{$xs} {
            grid-template-columns: repeat(1, 1fr);
            gap: 1.6rem;
        }
    }

    &__card {
        border: 0.1rem solid $primary;
        padding: 2rem;
        border-radius: 0.8rem;

        h4 {
            font-size: 2rem;
            font-weight: 500;
            margin: 0 0 1rem;
            color: $primary;


            @media #{$xs} {
                font-size: 1.8rem;
            }
        }

        p {
            font-size: 1.8rem;
            font-weight: 400;
            color: $para;
            margin: 0;

            @media #{$xs} {
                font-size: 1.4rem;
            }
        }

        ul {
            padding: 0 0 0 3rem;
            margin: 0;

            li {
                list-style-type: disc;
                font-size: 1.8rem;
                font-weight: 400;
                color: $para;
                margin: 0;
                text-align: start;

                @media #{$xs} {
                    font-size: 1.4rem;
                }
            }
        }
    }

    &__approach {
        padding: 8rem 0;

        @media #{$xs} {
            padding: 4rem 0;
        }

        h2 {
            color: $primary;

            font-size: 3.6rem;
            font-weight: 500;
            margin: 0 0 4rem;
            text-align: center;

            @media #{$xs} {
                font-size: 2.8rem;
            }
        }
    }

    &__flex {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;

        @media #{$xs} {
            gap: 0;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__box {
        padding: 2rem;

        @media #{$xs} {
            padding: 1.2rem;
        }

        h4 {
            font-size: 2.4rem;
            color: $primary;

            margin: 0 0 0.5rem;
            font-weight: 600;
            position: relative;

            @media #{$xs} {
                font-size: 1.8rem;
            }
        }

        p {
            color: #777;
            font-size: 1.4rem;
            font-weight: 400;
            margin: 0;
        }
    }

}