@import "variables";
@import "practice";
@import "details";
@import "contact";
@import "about";
@import "success";
@import "model";
@import "footer";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Times New Roman", Times, serif !important;
  font-size: 1.4rem;
  font-weight: 500;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

img {
  max-width: 100%;
  height: auto;
}

.scrolled {
  background-color: #fff !important;
  border-bottom: 0.1rem solid #e0dee7;
}

.border-none {
  .border-line {
    border-bottom: none !important;
  }
}

.header {
  padding: 0 2rem;
  //   background-color: #f1eeeb;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  transition: all 0.3s ease;

  .navbar-brand {
    img {
      width: 10rem;

      @media #{$xs} {
        width: 7rem;
      }
    }
  }

  .navbar-collapse {
    @media #{$xm} {
      padding: 3rem 0;
    }
  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 2rem;
        font-weight: 500;
        padding: 1rem 1.6rem;
        color: $primary;
      }
    }
  }

  &__btn {
    a {
      background-color: $primary;
      color: #fff;
      font-size: 1.8rem;
      font-weight: 500;
      text-decoration: none;
      padding: 1.4rem 3.8rem;
      border-radius: 0.6rem;
      display: inline-block;
    }
  }
}

.default-btn {
  background-color: #001743;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 0.6rem;
  display: inline-block;
}

.banner {
  &__content {
    z-index: 1;
    position: relative;

    @media #{$xs} {
      text-align: center;
    }

    p {
      font-size: 1.8rem;
      font-weight: 400;
      margin: 0 0 1.6rem;
      color: #fff;
      text-align: justify;

      @media #{$xs} {
        text-align: center;
      }
    }

    h1 {
      font-size: 6rem;
      margin: 0 0 2rem;
      font-weight: 600;
      color: #fff;

      @media #{$xs} {
        font-size: 3rem;
      }
    }

    a {
      background-color: $primary;
      color: #fff;
      font-size: 1.8rem;
      font-weight: 500;
      text-decoration: none;
      padding: 1.4rem 3.8rem;
      border-radius: 0.6rem;
      display: inline-block;
    }
  }
}

.banner .swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;

  @media #{$xm} {
    background-position: right;
  }
}

.banner .swiper-slide::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(13, 2, 69, 0.25);
  z-index: 1;

  @media #{$xs} {
    background-color: rgba(13, 2, 69, 0.45);

  }
}


.service {
  padding: 8rem 0;
  background-color: #f9f9f9;

  @media #{$xs} {
    padding: 4rem 0;
  }

  &__title {
    text-align: center;
    margin: 0 0 4rem;

    @media #{$xs} {
      margin: 0 0 2rem;
    }

    p {
      color: $para;
      font-size: 1.6rem;
      font-weight: 400;
      margin: 0 0 0.8rem;
    }

    h2 {
      color: $primary;
      font-size: 3.6rem;
      font-weight: 500;
      margin: 0;

      @media #{$xs} {
        font-size: 2.8rem;
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;

    @media #{$xs} {
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
    }

    @media #{$md} {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__card {
    padding: 2rem;

    @media #{$xs} {
      text-align: center;
    }

    h3 {
      font-size: 2.4rem;
      color: $primary;
      margin: 0 0 1rem;
      font-weight: 600;
      position: relative;

      @media #{$xs} {
        font-size: 1.8rem;
      }

      &::after {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -0.3rem;
        content: "";
        width: 5rem;
        height: 0.1rem;
        background-color: $primary;

        @media #{$xs} {
          content: unset;
        }
      }
    }

    p {
      color: #777;
      font-size: 1.4rem;
      font-weight: 400;
      margin: 0 0 1rem;
      text-align: justify;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;

      @media #{$xs} {
        text-align: center;
      }
    }

    a {
      color: #333;
      font-size: 1.4rem;
      display: block;
      font-weight: 500;
      text-decoration: none;
    }
  }

  &__view {
    text-align: center;
    margin: 3rem 0 0;
  }
}

.article {
  padding: 8rem 0;

  @media #{$xs} {
    padding: 4rem 0;
  }

  &__title {
    text-align: center;

    h2 {
      color: $primary;

      font-size: 3.6rem;
      font-weight: 500;
      margin: 0;

      @media #{$xs} {
        font-size: 2.8rem;
      }
    }
  }

  &__box {
    border: 1px solid #ddd;
    padding: 2rem;
    border-radius: 0.8rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    margin: 6rem 0 0;

    @media #{$xs} {
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
      margin: 3rem 0 0;
    }
  }

  &__img {
    img {
      border-radius: 0.8rem;
    }
  }

  &__content {
    margin: 2rem 0 0;

    @media #{$xs} {
      text-align: center;
    }

    span {
      font-size: 1.4rem;
      font-weight: 400;
      margin: 0 0 1rem;
      display: block;
      color: $para;
    }

    h4 {
      font-size: 2.4rem;
      font-weight: 500;
      margin: 0 0 1rem;
      color: $text;

      @media #{$xs} {
        font-size: 1.8rem;
      }
    }

    p {
      color: $para;
      font-size: 1.4rem;
      font-weight: 400;
      margin: 0;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    a {
      display: inline-block;
      margin: 2rem 0 0;
      color: $text;
      font-size: 1.4rem;
      font-weight: 400;
    }
  }
}

.career {
  padding: 8rem 0;
  background-color: #fff;

  @media #{$xs} {
    padding: 4rem 0;
  }

  &__title {
    text-align: center;
    margin: 0 0 2rem;

    h2 {
      color: $primary;
      font-size: 3.6rem;
      font-weight: 500;
      margin: 0;

      @media #{$xs} {
        font-size: 2.8rem;
      }
    }
  }

  &__box {
    border: 0.1rem solid $primary;
    padding: 2rem;
    border-radius: 0.8rem;
    max-width: 60%;
    margin: 0 auto;

    @media #{$xm} {
      max-width: 100%;
    }
  }

  &__content {
    text-align: center;

    h3 {
      font-size: 2.4rem;
      color: #333;
      margin: 0 0 1rem;
      font-weight: 600;
      position: relative;
    }

    p {
      color: #777;
      font-size: 1.4rem;
      font-weight: 400;
      margin: 0;
      max-width: 50%;
      margin: 0 auto;

      @media #{$xs} {
        max-width: 100%;
      }
    }

    a {
      display: inline-block;
      margin: 2rem 0 0;
    }
  }
}


.article-page {
  padding: 16rem 0 6rem;

  @media #{$xs} {
    padding: 12rem 0 2rem;
  }
}

.team {
  padding: 8rem 0;
  background-color: #fff;

  @media #{$xs} {
    padding: 4rem 0;
  }

  &__title {
    text-align: center;
    margin: 0 0 4rem;

    p {
      color: #777;
      font-size: 1.6rem;
      font-weight: 400;
      margin: 0 0 0.8rem;

      @media #{$xs} {
        font-size: 1.4rem;
      }
    }

    h2 {
      color: #000;
      font-size: 3.6rem;
      font-weight: 500;
      margin: 0;

      @media #{$xs} {
        font-size: 2.8rem;
      }
    }
  }

  &__img {
    text-align: center;
    margin: 0 0 2rem;

    img {
      border-radius: 1.4rem;
      width: 50rem;

    }
  }

  &__content {
    text-align: center;

    @media #{$xs} {
      margin: 2rem 0 0;
    }

    h3 {
      font-size: 3rem;
      font-weight: 500;
      margin: 0 0 0.4rem;
      color: #000;

      @media #{$xs} {
        font-size: 2.8rem;
      }
    }

    span {
      color: #000;
      font-size: 1.8rem;
      font-weight: 400;
      margin: 0 0 2.4rem;
      display: block;

      @media #{$xs} {
        font-size: 1.4rem;
      }
    }

    p {
      color: #777;
      font-size: 1.8rem;
      font-weight: 400;
      margin: 0;

      @media #{$xs} {
        font-size: 1.4rem;
      }
    }
  }


}

.about-main {
  padding: 8rem 0 0;
}

.modal-title {
  font-size: 2.4rem !important;
}

.modal-body {
  padding: 2rem 3rem !important;
}

.modal-header {
  padding: 2rem 3rem !important;

}

.about-contact {
  .contact__right {
    display: none;
  }

  .about-center {
    justify-content: center !important;
  }

  .about-col {
    display: none;
  }
}

.success {
  padding: 20rem 0 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thank-img img {
  width: 3rem;
}

.thank-img {
  width: 60px;
  height: 60px;
  margin: 0 auto 30px;
  background: linear-gradient(135deg, #48bb78 0%, #38a169 100%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: scaleIn 0.5s ease-out 0.2s both;
}

.thankyou-container h1 {
  font-size: 4rem;
  margin-bottom: 12px;
  color: #000;
}

.thankyou-container p {
  color: #000;
  margin-bottom: 24px;
  font-size: 1.8rem;
  font-size: 2rem;
}

.thankyou-buttons a {
  background-color: #001743;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  padding: 1.4rem 3.8rem;
  border-radius: 0.6rem;
  display: inline-block;
}

.white-header {
  .header {
    background-color: #fff !important;
  }
}

.new-contact {
  padding: 8rem 0 0;

  @media #{$xs} {
    padding: 4rem 0 0;
  }

}